# Hetzner Cloud
HCLOUD_API_TOKEN=your_hcloud_token_here

# GitHub
GITHUB_TOKEN=your_github_token_here

# Helium 10
HELIUM10_EMAIL=your_helium10_email
HELIUM10_PASSWORD=your_helium10_password

# Keepa
KEEPA_EMAIL=your_keepa_email
KEEPA_PASSWORD=your_keepa_password
